@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.neon-text {
  text-shadow: 0 0 10px rgba(3, 255, 74, 0.7), 0 0 10px rgba(3, 255, 74, 0.7);

  /* Webkit specific styles for neon effect */
  -webkit-text-fill-color: transparent; /* Makes the text transparent so the gradient shows */
  -webkit-background-clip: text; /* Clips the background to the text shape */
  text-shadow: 0 0 40px rgba(3, 255, 74, 0.7), 0 0 10px rgba(3, 255, 74, 0.7);
}
.neon-texts {
  text-shadow: 0 0 10px rgba(2, 101, 30, 0.7), 0 0 10px rgba(9, 120, 40, 0.7);

  border-bottom: 2px solid rgb(0, 255, 72);
  /* Webkit specific styles for neon effect */
  -webkit-text-fill-color: transparent; /* Makes the text transparent so the gradient shows */
  -webkit-background-clip: text; /* Clips the background to the text shape */
  text-shadow: 0 0 10px rgba(18, 134, 51, 0.816), 0 0 10px rgba(0, 255, 72, 0.777);
}
@layer components {
  .text-clip {
    @apply font-bold text-2xl text-transparent bg-clip-text bg-gradient-to-r from-[#eee] to-green-700 relative;
  }
  .text{
    @apply  bg-gradient-to-r from-[#00ef34] via-[#6ecd6e] to-[#2bff00] text-transparent bg-clip-text
  }
  .clik{
    @apply text-wrap bg-green-500 rounded-[35px] p-5 md:w-1/2 w-full font-poppins shadow-[0_0_15px_5px_rgba(0,255,100,0.8),0_0_30px_10px_rgba(0,255,100,0.5)]
  }
  .neon{
    @apply bg-green-400 w-7 h-7 rounded-full shadow-[0_0_15px_5px_rgba(0,255,100,0.8),0_0_30px_10px_rgba(0,255,100,0.5)]
  }
  .line{
    @apply w-full h-1 bg-green-500 rounded-sm shadow-[0_0_15px_5px_rgba(0,255,100,0.8),0_0_30px_10px_rgba(0,255,100,0.5)]
  }
  .neons{
    @apply shadow-[0_0_15px_5px_rgba(0,255,100,0.8),0_0_30px_10px_rgba(0,255,100,0.5)]
  }
}
